* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", serif;
  font-family: "Syne Mono", monospace;
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Rock Salt', cursive; */
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #19172e;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: "?";
  text-align: center;
  font-size: 15em;
  font-weight: 900;
  position: absolute;
  top: 10%;
  right: 20%;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: linear-gradient(#006600, #82f4b1);
  animation: animate 5s ease-in-out infinite;
}

section::after {
  content: "?";
  text-align: center;
  font-size: 13em;
  font-weight: 900;
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: linear-gradient(#b57bee, #53399a);
  animation: animate 5s ease-in-out infinite;
  animation-delay: -2.5s;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(-30px);
  }
}

.clock {
  position: relative;
  width: 900px;
  height: 350px;
  background: linear-gradient(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.clock .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.clock .container h2 {
  font-size: 3em;
  color: #eee;
  padding: 5px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.clock .container h2 span {
  font-size: 2em;
}

.clock .container h2#seconds {
  color: #f9d524;
}

.clock .container span#ampm {
  position: relative;
  top: -50px;
  font-size: 2em;
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .clock {
    width: 100%;
    height: 75%;
    margin: auto;
  }

  .clock .container {
    flex-wrap: wrap;
  }

  .clock .container h2 {
    font-size: 2rem;
    margin: auto;
  }
}
